{% extends 'base/base.html' %}

{% block header %}

{% endblock %}

{% block content %}


<!-- PAR : ARIANE BEAUDIN -->
<style>

.ligne_formulaire textarea{
	margin-top :1em;
}

.contact p{
	margin:0.5em;
}

.info_courriel{
	padding-left: 2em;
}

.btn_inscription{

width: 40%;
margin-left: 30%;
margin-right: 30%;
margin-top:1em;
background-color: green;
color:white;


}




</style>


<section class="contact">
	<h1>Contact</h1>

<p>Téléphone: À venir</p>
<p>Courriel:</p>
<p class = "info_courriel">Pour les médias : communications@ceves.ca</p>
<p class = "info_courriel" >Pour les organismes : externe@ceves.ca</p>


<p>Facebook: À venir</p>
<p>Instagram: À venir</p>
<p>Twitter: À venir</p>


	<form action="contact_fr.html" method="POST">
		<div class="ligne_formulaire">
			<h2>Nom : </h2>
			<input type="text" name="nom" required>
		</div>
		<div class="ligne_formulaire">
			<h2>Courriel : </h2>
			<input type="text" name="Courriel" required>
		</div>

		<div class="ligne_formulaire">
			<h2>Sujet du message : </h2>
			<input type="text" name="sujet" required>
		</div>

		<div class="ligne_formulaire">
			<div>

				<textarea name="message" cols="5" rows="5" style="width:100%; height:100px"> </textarea>

			</div>
		</div>

		<button type="submit" class="btn_inscription">Inscrivez-vous</button>


	</form>



</section>



{% endblock %}
