{% extends 'base/base.html' %}

{% block title %}CEVES | Accueil{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<section>

            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../../static/img/photos/AlbertLouis.jpg" alt="interviewAlbert">
                        <div class="carousel-caption">
                            <h3>Conférence de presse</h3>
                            <p>4 février 2020</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../../static/img/photos/C45.jpg" alt="mobMobile">
                        <div class="carousel-caption">
                            <h3>Mob-Mobile</h3>
                            <p>**Date**</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="https://docs.google.com/document/d/1lGwWG-mpM_d82YqhfWR7zGKhEn8HiOZczuc_IhhlwOQ/edit?usp=sharing" target="blank"><img class="d-block w-100" src="../../../static/img/photos/IMG_7485_edited.jpg" alt="congresCeves"></a>
                        <div class="carousel-caption">
                            <h3>Bilan Bi-Annuel</h3>
                            <p>En date du 30 novembre 2019</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../../static/img/photos/Die-in17mai.jpg" alt="dieInMTL">
                        <div class="carousel-caption">
                            <h3>Campagne de financement</h3>
                            <p>**Date**</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="a-propos">
                <div class="texte">
                    <h2>Pourquoi la CEVES ?</h2>
                    <p>On nous dit que le Québec et le Canada sont verts. On nous dit que les gouvernements, les
                        entreprises et les institutions de partout sont en transition. Pourtant, on continue d’extraire
                        le pétrole et le gaz du sol, de violer les territoires ancestraux des Premières Nations
                        autochtones, d’ancrer nos économies dans l’extraction des ressources premières d’Afrique ou
                        d’Amérique du Sud.<raph> C'est devant cette incohérence, que nous, jeunes et moins jeunes de
                        partout au Québec, avons décidé de nous rassembler sous un même mouvement. </raph><br> <br><a href="">En savoir plus...</a>
                    </p>
                </div>
                <img src="../../../static/img/photos/27quebec.jpg" alt="">
            </div>
            <div class="a-propos">
                <div class="texte">
                    <h2>Qui sommes-nous ?</h2>
                    <p>Les étudiants et étudiantes du Québec s’unissent pour réclamer des actions collectives radicales.
                        La Coalition Étudiante pour un Virage Environnemental et Social rassemble ces jeunes et ces
                        étudiant.es de partout au Québec qui ont transformé leur peur en actions collectives. La justice
                        environnementale doit nous amener à changer profondément notre société, dès maintenant. <br>
                        <br> En nous alliant à tous ceux et celles qui partagent cette vision, peuples autochtones,
                        associations étudiantes, centre de recherche, organisations environnementales ou sociales, nous
                        voulons ancrer notre démarche résolument inclusive et démocratique. Nous pensons que nous
                        pourrons dépasser l’individualisme latent, proposer un modèle de société redéfinissant notre
                        relation à la nature et aux oppressions qui la crée. <br> <br><a href="">En savoir plus...</a></p> 
                </div>
                <img src="../../../static/img/photos/DecLpsuPLF.jpg" alt="Credit à Félix Legault-Dignard">
            </div>
            <div class="a-propos">
                <div class="texte">
                    <h2>Quels sont nos moyens d'action ?</h2>
                    <p>La CEVES adopte une approche combative, souhaitant mettre en oeuvre une escalade de moyens de
                        pression permettant la défense de la justice environnementale. S’imposant désormais comme un des
                        plus gros mouvements sociaux au Québec, elle a notamment organisé des événements à grande
                        échelle, comme les Marches pour le Climat du 15 mars et du 27 septembre, diverses manifestations
                        locales, des occupations ou des Zones d’occupations festives, tout en continuant d’alimenter les
                        réflexions au sein des diverses bases militantes. <br> <br><a href="">En savoir plus...</a>
                    </p>
                </div>
                <img src="../../../static/img/photos/leoManif.JPG" alt="Léo">
            </div>
            <div class="a-propos reven">
                <div class="texte" id="large">
                    <h2>Nos revendications</h2><!-- Faire un OL/Li avec cette section , parce que c'est clairement ça, en fait-->
                    
                    <p>
                        Concrètement, la CEVES revendique :
                        La mise en place immédiate d’un plan d’urgence climatique s’adressant aux gouvernements, aux
                        entreprises, aux institutions éducatives et aux autres acteurs de la sphère publique. Ce plan
                        doit s’ancrer fermement dans les six principes suivants : 
                    </p>

                    <ol>
                        <li>Respecter la science et les savoirs autochtones;</li>
                        <li>L’adoption d’une loi climatique qui, par des cibles annuelles contraignantes, forcerait
                            l’atteinte de la carboneutralité en 2030 et la réduction des émissions de gaz à effets de serre
                            à un niveau équitable face au reste de la population mondiale selon sa capacité de rétention de
                            carbone, la taille de sa population et son historique de pays colonisateur et industriel du Nord
                            Global;</li>
                        <li>Exiger la mise en œuvre complète de la Déclaration des Nations unies sur les droits des
                            peuples autochtones, jusqu’à consultation des communautés autochtones concernées;</li>
                    </ol>                
                </div>
                <div class="texte">
                    <ol start="4">
                        <li>Assurer la protection des communautés vulnérables du Canada, particulièrement des
                            communautés racisées qui sont touchées disproportionnellement par la crise climatique;</li>
                        <li>Œuvrer en collaboration avec les populations du globe qui sont disproportionnellement
                            affectées par la crise climatique en reconnaissant la responsabilité historique du Canada envers
                            ces populations;</li>
                        <li>Exiger la mise en œuvre à tous les paliers d’éducation de la Stratégie québécoise
                            d’éducation en matière d’environnement et d’écocitoyenneté développée par la Coalition
                            Éducation, Environnement, Écocitoyenneté;</li>
                        <li>Exiger un arrêt complet et immédiat de tout projet d’exploration, d’exploitation et de
                            transport d’hydrocarbures en parallèle à des formations professionnelles visant à faciliter la
                            mobilité et le transfert de la main d’œuvre des secteurs concernés vers ceux des énergies
                            renouvelables.</li>
                    </ol>
                    <a href="">En savoir plus...</a>
                </div>
            </div>

            <div class="a-propos faq">
                <div class="texte">
                    <h2>FAQ</h2>
                    <ul>
                        <li>Comment faire un don ?</li>
                        <li>Comment s'impliquer ?</li>
                        <li>Quels sont les comités ?</li>
                        <li>Quels sont les évènements ?</li>
                        <li>Autres</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="texte">
                    <ul>
                        <li>Comment faire un don ?</li>
                        <li>Comment s'impliquer ?</li>
                        <li>Quels sont les comités ?</li>
                        <li>Quels sont les évènements ?</li>
                        <li>Autres</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            
        </section>

    <!--<footer>
        <div>Some text</div>
    </footer>-->
{% endblock %}
